body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}
.item{
    padding: 20px;
    font-weight: bold;
    /* flex-grow: 1; Her bir öğe eşit genişlik alır */
    width: 93%;
    text-align: center;
    border: solid 1px #333;
}
.container {
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    background-size: cover;
}
/* .stat-container{
    padding: 0 20px;
} */

.hidden {
    display: none;
}

.visible {
    display: block;
}

.str-container, .dex-container, .con-container, .int-container, .wis-container, .cha-container, .xContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#str-name, #dex-name, #con-name, #int-name, #wis-name, #cha-name {
    background-color: #999;
    user-select: none;
    cursor: pointer;
}
.rolled , .xRolled{
    color: #999;
    font-size: 0.9em;
    margin-left: 10px;
}
.rolls, .xRolls{
    color: #999;
    font-size: 0.9em;
}

h1, h2 {
    text-align: center;
}



button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
        background-size: cover;
    }
    /* .stat-container{
        padding: 0 20px;
    } */
}
@media screen and (max-width: 722px) {
    .xContainer{
        font-size: 13px;
    }
}

@media screen and (max-width: 689px) {
    body {
        transform: scale(0.9);
        transform-origin: 0 0;
        width: 112%;
        padding: 10px;
        font-size: 0.7em;
    }
    .container {
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
        background-size: cover;
    }
    .title {
        font-family: 'Georgia', serif;
        font-size: 1.3em;
    }
}
